<div class="container">
    <h1>Lista de Compras</h1>
    <form #frm="ngForm" class="add-item-form" (ngSubmit)="adicionarItem()">
        <input type="text" 
        id="item" 
        name="item" 
        [(ngModel)]="item" 
        placeholder="Digite o nome do item"
        />
        <button type="submit">Adicionar</button>

        <button type="button" (click)="limparLista()">Limpar lista</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- @for(elemento of lista; track elemento.id){
                <tr>
                    <td>{{ elemento.id }}</td>
                    <td>{{ elemento.nome }}</td>
                    <td><input type="checkbox"/></td>
                </tr>
            } @empty{
                <td colspan="3" style="text-align: center;">
                    Nenhum item adicionado.
                </td>    
            } -->
                <tr *ngFor="let elemento of lista">
                    <td>{{ elemento.id }}</td>
                    <td>
                        <span [ngClass]="{ 'item-riscado' : elemento.comprado}">
                            {{ elemento.nome }}
                        </span>
                    </td>
                    <td>
                        <input type="checkbox"
                        (click)="riscarItem(elemento)" 
                        [checked]="elemento.comprado"/>
                    </td>
                </tr>
                <tr *ngIf="lista.length === 0">
                    <td colspan="3" style="text-align: center;">Nenhum item adicionado</td>
                </tr>                     
        </tbody>
    </table>

</div>

