<div class="container">
    <div class="form-box">
        <form #frm="ngForm" (ngSubmit)="calcularResultado()">
            <h2>Calculadora</h2>
            <label for="numero1">Numero 1</label>
            <input type="number" name="numero1" id="numero1" [(ngModel)]="numero1" />

            <label for="operador">Operador:</label>
            <select
            id="operador"
            name="operador"
            [(ngModel)]="operadorSelecionado"
            required
            >
            <option value="+">Somar (+)</option>
            <option value="-">Subtrair (-)</option>
            <option value="*">Multiplicar (*)</option>
            <option value="/">Dividir (/)</option>
            </select>

            <label for="numero2">Numero 2</label>
            <input type="number" name="numero2" id="numero2" [(ngModel)]="numero2" />

            <button type="submit">Calcular</button>
            
        </form>

        <div class="result-display" *ngIf="!divisaoPorZero && resultado !== null">
            <p>Resultado: <span id="result"> {{ resultado }}</span></p>
        </div>
        <div class="result-display" *ngIf="divisaoPorZero">
            <p>Resultado: <span id="result"> Não se divide por zero</span></p>
        </div>

    </div>
</div>
